In [6]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

In [9]:
df = pd.read_excel("fitness.xlsx")

In [11]:
type(df)

pandas.core.frame.DataFrame

In [14]:



# Kết nối tới MySQL
try:
    cnx = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Ncgncg1102",
    database="nutrition_monitoring"
    )
    cursor = cnx.cursor()
    
    for index, row in df.iterrows():
        # Chỉ định các cột và giá trị tương ứng
        insert_query = """
        INSERT INTO exercise (Name, CaloriesPerHour)
        VALUES (%s, %s)
        """
        # Chuẩn bị các giá trị, đảm bảo đúng thứ tự
        data = (
            row['Name'],  
            row['Calories/hr'],  
        )
    # Thực thi truy vấn với dữ liệu đúng
        cursor.execute("SET innodb_lock_wait_timeout = 60000")
        cursor.execute(insert_query, data)
        
    

    cnx.commit()

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Thông tin tài khoản hoặc mật khẩu không đúng")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Cơ sở dữ liệu không tồn tại")
    else:
        print(err)
finally:
    cursor.close()
    cnx.close()

print("Dữ liệu đã được ghi vào MySQL thành công!")

Dữ liệu đã được ghi vào MySQL thành công!

In [24]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401982 entries, 0 to 1401981
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   ReviewId       1401982 non-null  int64
 1   RecipeId       1401982 non-null  int64
 2   AuthorId       1401982 non-null  int64
 3   AuthorName     1401982 non-null  object
 4   Rating         1401982 non-null  int64
 5   Review         1401768 non-null  object
 6   DateSubmitted  1401982 non-null  object
 7   DateModified   1401982 non-null  object
dtypes: int64(4), object(4)
memory usage: 85.6+ MB

In [25]:
dataset=review.copy()
columns=['RecipeId','AuthorId','Rating','AuthorName']
dataset=dataset[columns]
dataset["AuthorId"]=dataset["AuthorId"].astype(str)
unique_authors = dataset.drop_duplicates(subset='AuthorId', keep='first')
unique_authorss = unique_authors.drop_duplicates(subset='AuthorName', keep='first')
# unique_authors = dataset.groupby('AuthorId', as_index=False).first()

In [26]:
duplicate_rows = unique_authorss[unique_authorss.duplicated(subset='AuthorName', keep=False)]

In [27]:
duplicate_rows

Empty DataFrame
Columns: [RecipeId, AuthorId, Rating, AuthorName]
Index: []

In [28]:
len(unique_authors)

271907

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401982 entries, 0 to 1401981
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   RecipeId    1401982 non-null  int64
 1   AuthorId    1401982 non-null  object
 2   Rating      1401982 non-null  int64
 3   AuthorName  1401982 non-null  object
dtypes: int64(2), object(2)
memory usage: 42.8+ MB

In [30]:
# # recipe=recipe.fillna("")
# # Cắt ngắn những phần tử có độ dài lớn hơn 200 ký tự
# recipe['RecipeIngredientParts'] = recipe['RecipeIngredientParts'].apply(
#     lambda x: x[:1000] if len(x) > 1000 else x
# )
# recipe['RecipeInstructions'] = recipe['RecipeInstructions'].apply(
#     lambda y: y[:1000] if len(y) > 1000 else y)

In [31]:
# review=review.iloc[500000:]

In [32]:
len(unique_authorss)

241365

In [33]:
unique_authorsss=unique_authorss[2500:2501]

In [34]:
unique_authorsss.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 6351 to 6351
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RecipeId    1 non-null      int64
 1   AuthorId    1 non-null      object
 2   Rating      1 non-null      int64
 3   AuthorName  1 non-null      object
dtypes: int64(2), object(2)
memory usage: 40.0+ bytes

In [35]:
import mysql.connector
import pandas as pd

# Tạo kết nối với cơ sở dữ liệu
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Ncgncg1102",
    database="nutrition_monitoring"
)

cursor = conn.cursor()



# Chèn dữ liệu vào bảng User
for index, row in unique_authorsss.iterrows():
    # Chỉ định các cột và giá trị tương ứng
    insert_query = """
    INSERT INTO User (UserId, Username, Password, Email, Name, Type)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    # Chuẩn bị các giá trị, đảm bảo đúng thứ tự
    data = (
        row['AuthorId'],  # UserId
        row['AuthorName'],       # Username
        "",   # Password
        "",    # Email
        "",            # Name
        ""            # Type
    )
    # Thực thi truy vấn với dữ liệu đúng
    cursor.execute("SET innodb_lock_wait_timeout = 60000")
    cursor.execute(insert_query, data)

# Xác nhận thay đổi vào cơ sở dữ liệu
conn.commit()

# Đóng kết nối
cursor.close()
conn.close()